CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build*/*
Debug*/*
Release*/*
local*/*
cmake-*/*
.idea/*

# Visual Studio
.vs/*

.vscode/*

# Doxygen
docs/doxygen/html*

# Apple
*.DS_Store

# aqtinstall
aqtinstall.log
