CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build*/*
Debug*/*
Release*/*
local*/*

# Visual Studio
.vs/*

.vscode/*

# Doxygen
docs/doxygen/html*